<% include ../partials/header %>


<div class="row">
           
       <br>
       <h1>Welcome to the contact page</h1>
       <p>D gallery is located in dublin city center, it was found in the late 1990s.</p>
       <br>
        <div class="grid-container">
       <% contact.forEach(function(contact) { %> 
       
      
           <div class="item">
               <h1 class="itemtitle">Id: <%= contact.id %></h1>
               <p class="itemp">Name: <%= contact.name %></p>
               <p class="itemp">Comment: <%= contact.comment %></p> 
                <p class="itemp">Email: <%= contact.email %></p> 
                <a href="/editcontact/<%= contact.id %>" class= "button">Edit</a>
            
                
              <p class="button" id="doit<%= contact.id %>">Delete</p>
              <p id="yes<%= contact.id %>" style="display:none">
               Are you sure?
              <a href="/deletecontact/<%= contact.id %>" class="button">Yes</a>
              </p>
             
             <script>
               $(document).ready(function(){
                 $("#doit<%= contact.id %>").click(function(){
                   $("#yes<%= contact.id %>").slideToggle(2000);
                   
                 })
                 
               })
               
             </script>
               
           </div>
      
       
       <% }); %>
        </div>
    </div>


<% include ../partials/footer %>
